.lupaclase {
width: 30px;
}

.claseboton {
    color: deeppink;
    font: weight 800;
    font-style: oblique ; 
    } 

    div {
        font-family: Arial, sans-serif; 
        background-color: rgb(239, 182, 113);
        color: blueviolet; 
        margin: 20px;
    }

    .contenedor{
display: flex; 
    }

    .titulocentro {
        text-align: center; 
        font-family: ;
    }

    #centrado {
display: block;
margin: 0 auto;
    }