.lupaclase {
width: 30px;
}

.claseboton {
    color: deeppink;
    font: weight 800;
    font-style: oblique ; 
    } 

    .contenedor{
        background-color: rgb(238, 179, 159) ;
        text-align: center;
        width:max-content;
        font-size: 20px;

        display: flex;
        border: 2px solid black;
        

    }

    .titulocentro {
        text-align: center; 
        font-family: ;
    }

    #centrado {
display: block;
margin: 0 auto;
    }